*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: auto;
    background: rgb(81,4,4);
    background: linear-gradient(177deg, rgba(81,4,4,1) 12%, rgba(135,51,51,1) 70%, rgba(167,112,112,1) 100%);
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, 100%, auto, 100px;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

nav{
    grid-area: nav;
    width: 1519.2px;
}

nav img{
    margin-left: 93.5px;
    margin-right: 93.5px;
}

header{
    grid-area: header;
    width: 1519.2px;
    height: 90px; 
}

.barra{
    display: flex;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    margin-top: 20px;
}

.barra a{
    color: aliceblue;
    text-decoration: none;
}

.barra a:hover{
    text-decoration: underline;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.barra li{
    display: inline;
    position: relative;
    margin-inline: 
}

.barra li ul{
    display: none;
    position: absolute;
}

.barra li:hover ul{
    display: block;
}

.buscar{
    color: rgb(255, 255, 255);
    position: absolute;
    height: 20px;
    width: 30px;
    padding: 3px;
    margin-left: 30px;
    margin-top: 30px;
}
.buscar input{
    width: 0;
    height: 30px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-bottom: 2px solid #ffffff;
    transition: 2s;
    margin-left: 30px;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}

.boton{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color:#c56b6b;
}

.icon{
    margin: 12px;
}

main{
    grid-area: main;
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas: tarjeta1 tarjeta2;
    height: auto;
    width: 1519.2px;
}
.tarjetas{
    width: 950px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.tarjeta{
    grid-area: tarjeta2;
    margin: 30px;
    border: 2px solid;
    border-radius: 5px;
    border-color: aliceblue;
    width: 250px;
    height: 350px;
}

.img{
    width: 200px;
    height: 250px;
    margin: 23px;
}

.btn{
    margin: 0px 95px 0px 95px;
    padding: 5px;
    background-color: transparent;
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 5px;
}

.btn:hover{
    -webkit-box-shadow: 0px 0px 25px 10px rgba(255,255,255,0.7); 
    box-shadow: 0px 0px 25px 1px rgba(255,255,255,0.7);
}

.insta{
    grid-area: tarjeta1;
    width: 450px;
}

.formulario{
    background-color: rgb(72, 7, 7);
    width: 800px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "zona1 zona1"
                         "zona2 zona2"
                         "zona3 zona3"
                         "zona4 zona4"
                         "zona5 zona5"
                         "zona6 zona6"
                         "zona7 zona7";  
    -webkit-box-shadow: 0px 0px 0px 8px #4c0404, 0px 0px 0px 16px #6e2020, 0px 0px 0px 24px #822b2b, 0px 0px 0px 39px #983e3e, 6px 6px 34px 21px #c56b6b; box-shadow: 0px 0px 0px 8px #4c0404, 0px 0px 0px 16px #6e2020, 0px 0px 0px 24px #822b2b, 0px 0px 0px 39px #983e3e, 6px 6px 34px 21px #c56b6b
}

.formulario h1{
    margin: 25px;
    color: white;
    grid-area: zona1;
    display: flex;
    justify-content: center;
}

.formulario :nth-child(2){
    grid-area: zona2;
}
.formulario :nth-child(3){
    grid-area: zona3;
}
.formulario :nth-child(4){
    grid-area: zona4;
}
.formulario :nth-child(5){
    grid-area: zona5;
}
.formulario :nth-child(6){
    grid-area: zona6;
}
.formulario :nth-child(7){
    grid-area: zona7;
}

.formulario input{
    color: rgb(255, 255, 255);
    width: 90%;
    height: 40px;
    margin: 25px;
    border: none;
    outline: none;
    border-bottom: 3px solid #ffffff;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

input:hover{
    color: aliceblue;
    opacity: .75;
    border: none;   
    outline: none;
    -webkit-box-shadow: 5px 5px 15px 5px #ffffff; 
    box-shadow: 5px 5px 15px 5px #ffffff;
}

.formulario button{
    background-color: #983e3e;
    color: aliceblue;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.formulario button:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #ffffff; 
    box-shadow: 5px 5px 15px 5px #ffffff;
}

footer{
    grid-area: footer;
    height: 90px;
    width: 1519.2px;
}

.redes{
    margin: auto;
    width: 120px;
    justify-content: center;
}

.redes img{
    margin: 10px;
}

.circle{
    background-color:aquamarine;
    border: solid 2px;
    border-color:aqua;
    width: 100px;
    height: 100px;
    margin: 100px;
    animation: rotateHue 6s alternate-reverse infinite;
}

@keyframes rotateHue {
    to{
        filter: hue-rotate(1turn);
    }
}